h1 {
  margin-top: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42ACEC;
  font-family: "Fjalla One", sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 91vh;
  width: 30vw;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 50px;
  background-color: #F9F9F9;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.home-container {
  height: 50vh;
  padding: 50px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

#image_upload_preview {
  margin-top: 4px;
  height: 205px;
}

.chooseFile, .submitButton {
  margin-top: 10px;
  padding: 8px;
}

button {
  border-radius: 10px;
  background-color: whitesmoke;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center button {
  width: 25%;
}

.button-style {
  border-radius: 5px;
  background-color: #3e2390;
  color: white;
  font-size: 15px;
  outline: none;
  padding: 10px 5px;
}

.video {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  justify-content: center;
}

.preview-container-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  text-align: center;
  margin: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.video-submit {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #3e2390;
  color: white;
  font-size: 15px;
  outline: none;
  padding: 10px 5px;
  width: 80%;
}

.video-preview {
  margin-bottom: 0px !important;
}

.infoContainer {
  margin-top: 5px;
  color: #999999;
}

.infoContainer h1 {
  color: hotpink;
}
